* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
}

.container {
  width: 100%;
  margin: 0;
  padding-top: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  padding-left: 30%;
  padding-right: 30%;
  
}

.logo {
  font-weight: bold;
  font-size: 15px;
  color: #004d40;
}

.form-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-wrapper h2 {
  font-size: 25px;
  font-weight: 600;
}

.subtitle {
  color: #666;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
}

.btn-reset {
  background-color: #006644;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-weight: light;
  cursor: pointer;
  font-size: 14px;
}

.back-login {
  font-size: 14px;
}

.back-login a {
  color: #333;
  text-decoration: none;
}

.back-login a:hover {
  text-decoration: underline;
}

.form-wrapper p+p {
  margin: 0%;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    padding: 20px 15px;
  }

  .form-wrapper h2 {
    font-size: 20px;
  }

  .btn-reset {
    font-size: 13px;
  }
}