<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jodna Notifications</title>
  <link rel="stylesheet" href="Notification.Page.css">
</head>
<body>

  <header>
  <div class="logo"> <a href="index.html"><img src="./project1images/jodna-logo.png" alt="logo" style="height: 60px; width: 270px;"></a></div>
  <div class="nav-right">
    <p style="color: black; font-weight: 400;">Explore</p>
    <button class="creatives" style="border-radius: 30px; background-color: white; border: 1px solid gray; height: 25px; display: flex; align-items: center; width: 300px;"> <img src="./project1images/search-bar.png" alt="" style="height: 35px; width: 35px; padding: 10px;"> Search Creatives work...</button>
    <button class="btn btn-outline" style="height: 30px;"><a href="upload.html"> Share Your Work </a><img src="./project1images/right-arrow.png" alt=""></button>
    <a href="Notification.Page.html"><img src="./project1images/notification-bell.png" alt="" style="height: 20px; width: 20px;"></a>
    <a href="profile.html"><img src="./project1images/Ellipse 1.png" alt="" style="height: 40px; width: 40px;"></a>
    <div>
      <strong style="position: relative; bottom: -50px; top: 1px; font-size: small;">Adewale Austin</strong><br>
      <small style="position: relative; top: -5px; font-size: xx-small;">UI/UX Design Intern</small>
    </div>
    <img src="./project1images/arroww-down.png" alt="">
  </div>
</header>
  <img src="./project1images/left-arrow.svg" alt="" style="margin-left: 30px; margin-top: 15px; height: 15px; width: 15px; position: relative; bottom: 5px;">
  <div class="container">
    <aside class="sidebar">
      <h3 style="font-size: small;">Filter <img src="./project1images/filter-X.png" alt="" style="height: 20px; width: 20px;"></h3>
      <ul style="display: flex; flex-direction: column; position: relative; gap: -10px;">
        <li class="active" style="font-size: 10px; font-weight: 500;">All</li>
        <li style="font-size: 10px; font-weight: 500;">Likes</li>
        <li style="font-size: 10px; font-weight: 500;">Comments</li>
        <li style="font-size: 10px; font-weight: 500;">Messages</li>
        <li style="font-size: 10px; font-weight: 500;">Project Update</li>
      </ul>
    </aside>

    <main class="notifications-section">
      <h2 style="display: flex; justify-content: space-between;">Notification<img src="./project1images/setting.png" alt="" style="height: 15px; width: 15px;"></h2>
      <div class="notification-list">

        <div class="notification" style="padding-top: 30px ;">
          <img src="https://i.pravatar.cc/40?img=1" alt="">
          <div>
            <p> Felix commented on your project “UX Audit for Fintech App”: “Very detailed breakdown!”</p>
            <span class="time">4hrs ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=2" alt="">
          <div>
            <p>New message: ‘Is your site built with Webflow? I want something similar.’</p>
            <span class="time">3hrs ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=3" alt="">
          <div>
            <p>New comment from Natasha on Design Systems 101: “This helped me a lot—thanks!”</p>
            <span class="time">45mins ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=4" alt="">
          <div>
            <p>John bookmarked your responsive portfolio layout and added it to his design inspiration folder.</p>
            <span class="time">40mins ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=5" alt="">
          <div>
            <p> Daniel: “Your React portfolio is awesome. Are you available for freelance?”</p>
            <span class="time">3hrs ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=6" alt="">
          <div>
            <p>Version 2.0 of UI Framework now available in your portfolio featuring some new update.</p>
            <span class="time">30mins ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=7" alt="">
          <div>
            <p>Backend API setup for the Client Portal has been completed, enabling seamless integration.</p>
            <span class="time">15mins ago</span>
          </div>
        </div>

        <div class="notification">
          <img src="https://i.pravatar.cc/40?img=8" alt="">
          <div>
            <p> Dave liked your UX onboarding case study and highlighted how well you explained the user pain points.</p>
            <span class="time">50secs ago</span>
          </div>
        </div>

      </div>
    </main>
  </div>
</body>
</html>