* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  padding-right: 50px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-right input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  color: #007960;
  border: 1px solid #007960;
  border-radius: 30px;
}

.btn-primary {
  background-color: #007960;
  color: #fff;
  border-radius: 30px;
}

.upload-container {
  max-width: 600px;
  margin: 40px auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-header {
  display: flex;
  justify-content: space-between;
  margin: 50px; 
  flex-wrap: wrap;
  position: relative;
  top: -30px;
}

.cancel-link {
  color: #007960;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

.upload-intro{
  align-items: center;
  justify-content: center;
  position: relative;
  top: -70px;
}

.upload-box {
  border: 2px dashed #ccc;
  text-align: center;
  border-radius: 12px;
  background-color: lightgray;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 800px;
  top: -90px;
  padding-top: 70px;
}

.upload-box.dragover {
  background-color: #e0f7f1;
}

.upload-box input {
  display: none;
}

.upload-box span {
  color: #007960;
  cursor: pointer;
  font-weight: 600;
}

.preview {
  margin-top: 15px;
  text-align: center;
}

.preview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

.pro-tip {
  font-size: 14px;
  color: #555;
  margin-top: -80px;
}

.search img{
 width: 10px;
height: 10px;
padding-left: 20px;
}

.search{
  color: black;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50px;

}

.creatives img{
  height: 20px;
  width: 20px;
}

.upload-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .upload-container {
    margin: 20px;
    padding: 24px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    margin-top: 10px;
  }
}