* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.nav-right input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  color: #007960;
  border: 1px solid #007960;
  border-radius: 30px;
}

.btn-primary {
  background-color: #007960;
  color: #fff;
}

.upload-container {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.upload-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.cancel-link {
  color: #007960;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 40px 20px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #fdfdfd;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.upload-box.dragover {
  background-color: #e0f7f1;
}

.upload-box input {
  display: none;
}

.upload-box span {
  color: #007960;
  cursor: pointer;
  font-weight: 600;
}

.preview {
  margin-top: 15px;
  text-align: center;
}

.preview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

.pro-tip {
  font-size: 14px;
  color: #555;
  margin-top: 20px;
}

.search img{
 width: 10px;
height: 10px;
padding-left: 20px;
}

.search{
  color: black;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50px;

}

@media (max-width: 768px) {
  .upload-container {
    margin: 20px;
    padding: 24px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    margin-top: 10px;
  }
}